* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 550px) {
  body {
    font-size: 16px;
  }
}
.navegador {
  padding: 15px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navegador ul {
  list-style: none;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  align-content: center;
}
.navegador ul li a {
  text-decoration: none;
  padding: 10px 20px;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
}
.navegador ul li a:hover {
  transition: 0.2s;
  color: #ccc;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.producto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.producto .info {
  margin: 25px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.producto .info img {
  width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
}
.producto .info button {
  padding: 10px 15px;
}
.producto .info button:hover {
  background-color: #959292;
}

.encabezadoproductos {
  background-color: rgba(146, 142, 142, 0.5058823529);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  margin-top: 20px;
  font-size: 35px;
}

.present {
  width: 1200px;
  color: black;
  font-size: 35px;
  margin: 15px auto;
  border: 3px solid black;
  padding: 20px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.present:hover {
  background-color: rgba(204, 204, 204, 0.7843137255);
}
.present .h4 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

@media (max-width: 1200px) {
  .present {
    width: auto;
    font-size: 15px;
  }
  .present h4 {
    font-size: 20px;
  }
}
.tarjeta {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tarjeta .tarjetaventas {
  width: 850px;
  margin: 25px auto;
  padding: 30px;
  gap: 30px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
.tarjeta .tarjetaventas .imagen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.tarjeta .tarjetaventas button {
  padding: 10px 15px;
  align-content: center;
}
.tarjeta .tarjetaventas button:hover {
  background-color: #767474;
}

.informacion {
  background-color: #ccc;
  margin: 60px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  border: 3px solid #000000;
  border-radius: 6px;
}
.informacion .contactos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  margin: 15px auto;
}
.informacion .contactos h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  text-align: center;
}
.informacion .contactos p {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.informacion .contactos .ict {
  display: none;
}

.nosotros {
  background-color: #ccc;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 25px;
  border: 3px solid #000000;
  border-radius: 6px;
  margin: 20px;
}
.nosotros .presentacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
}
.nosotros img {
  width: 540px;
  height: 500px;
  margin: 10px auto;
  transition: 0.7s;
}

.datos-final {
  background-color: #000000;
  color: white;
  font-size: 35px;
  text-align: center;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.datos-final .pie-redes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 40px;
}
.datos-final .pie {
  display: grid;
  grid-template-columns: repeat(3, fr);
}

.rebote:hover {
  animation: 2s rebote 1;
}

@keyframes rebote {
  20%, 50%, 80% {
    -webkit-transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(-45px);
  }
  60% {
    -webkit-transform: translateY(-25px);
  }
}
@media (max-width: 560px) {
  .navegador {
    width: auto;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navegador ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navegador ul li a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .logo {
    width: 60px;
    height: 60px;
    display: flex;
  }
  .producto {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black;
  }
  .producto .info {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: auto;
    height: auto;
  }
  .producto h5 {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
  }
  .producto img {
    padding: 5px;
    max-width: 250px;
    height: auto;
  }
  .producto button {
    padding: 5px 5px;
    margin: 5px auto;
  }
  .producto button:hover {
    padding: 5px 5px;
  }
  #carouselExampleIndicators {
    max-width: 100%;
    height: auto;
  }
  .datos-final {
    margin: 2px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }
  .datos-final .pie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
  }
  .datos-final h4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .datos-final .p {
    font-size: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .fa-brands {
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .tarjeta {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .tarjeta .tarjetaventas {
    background-color: #ccc;
    border: 1px solid beige;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 100%;
    height: auto;
  }
  .tarjeta .tarjetaventas h3 {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
  }
  .tarjeta .tarjetaventas img {
    padding: 5px;
    max-width: 250px;
    height: 150px;
  }
  .informacion {
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    height: auto;
  }
  .informacion .contactos {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .informacion .contactos .h3 {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  .informacion .contactos p {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  .informacion .contactos .ict {
    width: 70px;
    height: 70px;
    margin: 15px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
  }
  .puertas {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .puertas h4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
  }
  .puertas p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .nosotros {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .nosotros .presentacion {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .nosotros img {
    padding: 5px;
    max-width: 250px;
    height: 250px;
  }
}
/* Styles door*/
.puertas {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7176470588);
  justify-content: space-evenly;
  align-content: center;
}
.puertas .img-puerta-ventas {
  width: 550px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.puertas .puertas-ventas {
  margin: 15px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.puertas .puertas-ventas .h4 {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
}
.puertas .puertas-ventas p {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  justify-content: center;
}
.puertas .boton {
  margin: 15px auto;
  padding: 15px 20px;
  background-color: blue;
  color: white;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .puertas {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .puertas .puertas-ventas {
    background-color: rgba(255, 255, 255, 0.7176470588);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 100%;
    height: auto;
  }
  .puertas .puertas-ventas .img-puerta-ventas {
    padding: 5px;
    width: 250px;
    height: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
